.navBtn {
  width: 80px;
  height: 80px;
  display: block;
  text-align: center;
}

.navBtnText {
  color: #ffffff;
  user-select: none;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.navBtnImage {
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
  pointer-events: none;
  padding-top: 5px;
}

.noShadow {
  box-shadow: none;
}

.innerShadow {
  box-shadow: inset 0 0 10px #000000;
}

a {
  text-decoration: none;
}